@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif|PT+Mono|PT+Sans');

html, body {
  padding: 0;
  margin: 0;
}

.title,
.h1, .h2, .h3
.h4, .h5, .h6 {
  color: #333;
  font-family: 'PT Sans', sans-serif;
}

.text, .p {
  font-family: 'IBM Plex Serif', serif;
  line-height: 1.45em;
}

.code {
  padding: 0;
  font-family: 'PT Mono', monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.pre {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.img {
  width: 100%;
  height: auto;
}

.label {
  font-weight: bold;
  font-family: 'IBM Plex Serif', serif;
  font-size: 18px;
  display: inline-block;
}

.link, .a {
  color: #5353e3;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1.5px solid #5353e3;
}

.button {
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  padding: 12px 24px;
  font-weight: 700;
  color: #fff;
  border: none;
  display: inline-block;

  border-radius: 4px;
  outline: 0;
}

.button:hover {
  filter: brightness(90%);
}

.button:active {
   -moz-box-shadow:    inset 0 0 4px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
   box-shadow:         inset 0 0 4px rgba(0, 0, 0, 0.5);
}

.button_grey, .button_gray {
  background: #fdefeb
  background: -webkit-linear-gradient(top, #eaeaea, #b7b7b7);
  background: linear-gradient(180deg, #eaeaea 0, #b7b7b7);
}

.button_red {
  background: #ec6040;
  background: -webkit-linear-gradient(top,#f88040,#e04040);
  background: linear-gradient(180deg,#f88040 0,#e04040);
}


.button_green {
  background: #40ec60;
  background: -webkit-linear-gradient(top, #40F880, #40E040);
  background: linear-gradient(180deg, #40F880 0, #40E040);
}

.button_violet {
  background: #6040EC;
  background: -webkit-linear-gradient(top, #8040f8, #5353e3);
  background: linear-gradient(180deg, #8040f8 0, #5353e3);
}

.input {
  margin: 3px;
  font-size: 18px;
  line-height: 22px;
  padding: 12px 24px;
  font-weight: 700;
  color: #333;
  border: none;
  display: inline-block;
  border-radius: 4px;
  background: #fdefeb;
  background: -webkit-linear-gradient(top, #eaeaea, #f0f0f0);
  background: linear-gradient(180deg, #eaeaea 0, #f0f0f0);
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.table td, .table tr {
    text-align: left;
    padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table thead tr {
  border: 1px solid #ddd;
  font-weight: bold;
}

/* Utility */

.center {
  display: flex;
  justify-content: flex;
  margin: 0 auto;
}

.as-column {
  display: flex;
  flex-flow: column wrap;

}

.w25 {
  width: 25vw;
}

.w30 {
  width: 30vw;
}

.w50 {
  width: 50vw;
}



